body{
	padding: 0;
	margin: 0;
	background-image: url(../img/bg.jpg);
	font-family: '隶变-简','华文隶书','STLiTi','楷体',kai,sans-serif;
}
.biaotikuang{
	text-align: center;
	width: 100%;
  height: 20vh;
	margin: 0;
  padding: 0;
}
.yijibiaoti{
  text-align: center;
　display:inline-block;
	font-size: 4em;
	margin-top: 1.5vh;
	margin-bottom: 0px;
  padding: 0;
	color: #fff;
}
.erjibiaoti{
  text-align: center;
　display:inline-block;
	font-size: 1.5em;
	color: #dedede;
	margin-top: 1vh;
  padding: 0;
}

#tLine{
	margin-left: 10vw;
	border-left: 2px solid grey;
	/*padding-left: 10vw;*/
}
.oneYear{
	width: 80vw;
}
.year{
	font-size: 3em;
	padding-left: 10vw;
	color: #51C4D3;
}
.story {
	font-size: 2em;
	padding-left: 15vw;
	color: #fff;
	border-top: 2px dashed grey;
	margin-bottom: 10vh;
}
.story p{
	padding: 0;
	margin: 0;
}
#future{
	padding-left: 10vw;
}
#future .year{
	border-left: 2px solid grey;
	/*margin-left: 10vw;*/
	/*padding: 0;*/
}
#future .story {
	text-align: right;
	border-top: 2px solid grey;
}
.top{
  position: fixed;z-index: 9999;width: 30px ;height: 30px;right: 50px; bottom: 50px;
}
.top a {
  color: #fff;
  text-decoration: none;
  font-family: kai;
}
.top a:hover {color: #51C4D3;}



